pandas
numpy
pyyaml
requests
ebaysdk
tensorflow
fastapi
uvicorn
python-multipart
pillow
dvc
scikit-learn
matplotlib
opencv-python
pytesseract
gdown
tqdm
ultralytics>=8.0.0
easyocr
open_clip_torch
torch
torchvision
paddleocr>=2.7.3
paddlepaddle>=2.6.0
